/descomplica/java-se-gui/Interfaces/nbproject/private/
/descomplica/java-se-gui/Interfaces/build/
/unit_testing/nbproject/private/
/unit_testing/nbproject/build-impl.xml
/unit_testing/nbproject/genfiles.properties
/unit_testing/nbproject/project.xml
/unit_testing/build.xml
/unit_testing/nbproject/project.properties
/unit_testing/manifest.mf
/jsf-udemy/nbproject/private/
/jsf-udemy/build/
/jsf-udemy/dist/
/jsf-udemy/build.xml
/jsf-udemy/nbproject/ant-deploy.xml
/jsf-udemy/nbproject/build-impl.xml
/jsf-udemy/nbproject/project.properties
/jsf-udemy/nbproject/project.xml
/jsf-udemy/nbproject/genfiles.properties
/unit_testing