<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de Convidados</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
	
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 style="text-align: center">Lista de convidados</h1>
			<br/>
		</div>
		<form class="form-inline" method="POST" style="margin:20px 0" th:object="${convidado}" th:action="@{/convidados}">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Nome" th:field="*{nome}"/>
				<input type="text" class="form-control" placeholder="Convidados" th:field="*{nroConvidados}"/>
				<button type="submit" class="btn btn-primary">Adicionar</button>
			</div>
		</form>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Convidados</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="convidado : ${convidados}">
						<th th:text="${convidado.nome}"/>
						<th th:text="${convidado.nroConvidados}"/>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>